<div class="header align-items-center px-3">
  <div class="d-flex align-items-center py-1">
    <a class="header-link logo-container d-flex justify-content-center align-items-center" href="/">
      <img src="<%= @items['/assets/images/gitlab-logo.svg'].path %>" alt="GitLab logo" class="logo" />
      <p><span class="header-company-name">GitLab </span><strong>Docs</strong></p>
    </a>
    <% if @item[:searchbar].nil? %>
      <% unless @item.identifier.to_s.split('/')[1] == 'search' %>
      <form id="search-form" action="/search/" method="get">
        <input type="text" name="query" class="docsearch" placeholder="Search our docs" required/>
        <input type="submit" style="visibility: hidden; position:absolute;" />
      </form>
      <% end %>
    <% end %>
  </div>
  <div class="nav-container w-100 ml-4">
    <a class="nav-toggle" id="docs-nav-toggle">
      <i class="fa fa-bars text-white" aria-hidden="true"></i>
    </a>
    <ul class="nav align-items-center">
      <li class="nav-item flex-grow-1">
        <div class="d-flex align-items-center">
          <%= render '/versions_dropdown.*' %>
        </div>
      </li>
      <% if is_production? %>
        <% @config[:products].each do |name, product| %>
          <% if product[:expose] == true %>
            <li class="nav-item">
              <a href="<%= @items["/#{product[:slug]}/#{product[:index_file]}"].path %>">
                <%= product[:short_name] %>
              </a>
            </li>
          <% end %>
        <% end %>
      <% else %>
        <% @config[:products].each do |name, product| %>
          <% if Dir.exist?("#{@config[:content_dir]}/#{product[:slug]}")%>
            <li class="nav-item">
              <a href="<%= @items["/#{product[:slug]}/#{product[:index_file]}"].path %>">
                <%= product[:short_name] %>
              </a>
            </li>
          <% end %>
        <% end %>
      <% end %>
      <li class="nav-item">
        <%= render '/cta.*' %>
      </li>
    </ul>
  </div>
</div>
